! special
URxvt*foreground:   #c3c5c7
URxvt*background:   #0f191f
URxvt*cursorColor:  #c3c5c7

! black
URxvt*color0:       #0f191f
URxvt*color8:       #4b5257

! red
URxvt*color1:       #b0a49f
URxvt*color9:       #b0a49f

! green
URxvt*color2:       #2a79aa
URxvt*color10:      #2a79aa

! yellow
URxvt*color3:       #91a0a9
URxvt*color11:      #91a0a9

! blue
URxvt*color4:       #6285aa
URxvt*color12:      #6285aa

! magenta
URxvt*color5:       #af8189
URxvt*color13:      #af8189

! cyan
URxvt*color6:       #bb616c
URxvt*color14:      #bb616c

! white
URxvt*color7:       #c3c5c7
URxvt*color15:      #c3c5c7

URxvt*borderColor:  [100]#0e2b3f


! Black color that will not be affected by bold highlighting.
URxvt*color66:      #0f191f


! font
URxvt.font: xft:DejaVu Sans Mono:size=14
! scrollBar
URxvt*scrollBar: false

! highlight
URxvt*dynamicColors: on

! misc
URxvt*buffered: true
URxvtURxvt*cursorBlink: true
URxvt*depth: 32
URxvt*perl-ext-common: default,matcher,font-size,fullscreen,vtwheel,keyboard-select
URxvt*urlLauncher: firefox
URxvt*matcher*button: 1

! transparency
! URxvt*transparent: true
! URxvt*shading: 15

! font-size inc/dec/reset
URxvt*keysym*C-Up:     perl:font-size:increase
URxvt*keysym*C-Down:   perl:font-size:decrease
URxvt*keysym*C-0:      perl:font-size:reset
URxvt*internalBorder:  25
